<h1><%= @article.title =%></h1>

<div>
  <p>Escrito por: <strong><%= @article.user.email =%></strong></p>
</div>

<div>
  <p><%= @article.content =%></p>
</div>

<div>
  <%= button_to "Delete article", @article, method: :delete =%>
</div>

